@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";
@font-face {
	font-family: 'Helvetica Neue';
	//font-weight: normal;
	//font-style: normal;
}

html {
	scroll-behavior: smooth;
}

header {
	background: rgba(252, 62, 158);
	height: 100px;
	width: 100%;
}

main {
	//background: rgba(255, 255, 255);
	// ON PEUT CALCULER DES CHOSES EN PURE CSS
	//height: calc(100vh - 100px * 2);
	// GRID SETTINGS
	//display: grid;
	//grid-template-columns: 1fr 1fr;
	//justify-items: center;
	//align-items: center;
	//grid-gap: 1rem;
	font-family: 'Helvetica Neue', sans-serif;
}

.image-section {
	padding: 1rem;
}

.image-section img {
	width: 100%;
}

.text-section {
	padding: 1rem;
}
//footer {
//background: rgba(252, 62, 158);
//height: 100px;
//}

.first-section {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	// grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 5rem;
	// margin-right: 5rem;
	// margin-left: 5rem;
	justify-items: center;
	color: $primary-color;

	.text-first-line {
		font-weight: bold;
		font-size: 70px;
		filter:blur(5px);
		color: $primary-color;
	}

	.text-first-line:hover {
		filter:blur(0px);
	}

	.text-second-line {
		font-weight: bold;
		font-size: 50px;
		filter:blur(6px);
		text-decoration: none;
		color: $primary-color;
	}

	.text-second-line:hover {
		filter:blur(0px);
	}

	.text-third-line {
		font-weight: bold;
		font-size: 30px;
		filter:blur(7px);
		color: $primary-color;
		text-decoration: none;
	}

	.text-third-line:hover {
		filter:blur(0px);
	}

	.text-fourth-line {
		font-weight: bold;
		font-size: 18px;
		filter:blur(8px);
		color: $primary-color;
		text-decoration: none;
	}

	.text-fourth-line:hover {
		filter:blur(0px);
	}

	.text-fifth-line {
		font-weight: bold;
		font-size: 20px;
		filter:blur(9px);
		color: $primary-color;
		text-decoration: none;
	}

	.text-fifth-line:hover {
		filter:blur(0px);
	}
}

.second-section {
	width: 100vw;
	height: 50vh;
	color: white;
	display: grid;
	grid-template-columns: repeat(3,1fr);

	.img1 {
		object-fit: cover;
		width: 100vw;
		height: 50vh;
		position: absolute;
		z-index: -1;
		filter:blur(5px);
	}
	@keyframes blur {
		100% {
			transform: blur(8px);
		}

		0% {
			transform: blur(0px);
		}
	}

	.mini-text {
		margin-left: 500px;
		margin-right: 500px;
		font-size: 5px;
		grid-column: span 3;
	}

	input:checked .img1 {
		animation: blur 2s ease;
	}

	input {}

	.container .checkmark {
		margin-right: 10px;
	}
}

.top-text {
	text-align: center;
	font-size: 50px;
	grid-column: span 3;
}

.sous-top-text {
	text-align: center;
	grid-column: span 3;
}

.third-section {
	width: 100vw;
	height: 150vh;
	display: grid;
	grid-template-columns: repeat(3,1fr);

	.col-1 .col-2 .col-3 {
		grid-column: span 1;
	}

	.nom {
		color: $primary-color;
	}

	.nom-invert {
		color: $primary-color-invert;
	}
}